
<h3>Edit incident report</h3>

<%= form_for @incident do |f| %>
  <hr>
  <br><br>

  <% if @incident.can_edit_all? %>
  <br><br>
    <%= f.label :date %>
    <%= f.text_field :date %>
  <br><br>

    <%= f.label :location %>
    <%= f.text_field :location %>
  <br><br>

    <%= f.label :incident_type, "Incident type"  %>
    <%= f.text_field :incident_type %>
  <br><br>

    <%= f.label :incident_details, "Indicent details" %>
    <%= f.text_area :incident_details %>
  <br><br>

    <%= f.label :poi_details, "POI details" %>
    <%= f.text_field :poi_details %>
  <br><br>

    <%= f.label :Witness %>
    <%= f.text_field :witness_details%>
  <br><br>

    <%= f.label :reported_to, "Reported to" %>
    <%= f.text_field :reported_to %>
  <br><br>

    <%= f.label :reported_by, "Reported by" %>
    <%= f.text_field :reported_by %>
  <br><br>

    <%= f.label :follow_up_actions, "Follow Up Actions" %>
    <%= f.text_area :follow_up_actions %>
  <br><br>
        <%= f.submit %>

  <% elsif @incident.can_edit_followup?%>

    <%= f.label :follow_up_actions, "Follow Up Actions" %>
    <%= f.text_field :follow_up_actions %>
    <br><br>
        <%= f.submit %>

    <% else %>

      <p>Sorry, you can no longer edit this form.</p>

    <% end %>

  <hr>


<% end %>
