<h2>Incident: <%= @incident.incident_type %></h2>
<% if @incident.can_edit_followup? %>
  <%= link_to "Edit this incident", edit_incident_path(@incident.id) %>
<% else %>
  <p>You can no longer edit this incident.</p>
<% end %>
<p>
<strong>Date:</strong> <%= @incident.date %>
</p>
<p>
<strong>Location: </strong><%= @incident.location %>
</p>
<p>
<strong>Incident type: </strong><%= @incident.incident_type %>
</p>
<p>
<strong>Incident details: </strong><%= @incident.incident_details %>
</p>
<p>
<strong>POI details: </strong><%= @incident.poi_details %>
</p>
<p>
<strong>Witness: </strong><%= @incident.witness_details %>
</p>
<p>
<strong>Reported to: </strong><%= @incident.reported_to %>
</p>
<p>
<strong>Reported by: </strong><%= @incident.reported_by %>
</p>
<p>
<strong>Follow up: </strong><%= @incident.follow_up_actions %>
</p>
